

// $body-bg: #e0cbcb;
// $body-color: #b98f8f;

$theme-colors: (
    'info': rgb(155, 155, 155),
    'danger': rgb(255, 87, 87),
    'primary': teal,
    'secondary': rgb(238, 160, 136),
    'tertiary': rgba(241, 95, 180, 0.911),
    'light': rgb(206, 193, 193),
    'dark': rgb(12, 12, 56),
    'success': green,
    'warning': orange,
    'border': gray,
    'link': rgb(57, 18, 163)
);  


$custom-colors: (
    "custom-color": #900
);

/* import bootstrap to set changes */
@import 'bootstrap/scss/bootstrap';

html {
    font-size: 13px;
}

a {
    text-decoration: none;
}
